In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col1': [1,2,3], 'col2':[4,5,6], 'col3': [7,8,9]})

In [3]:
df

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [7]:
df.T.rename_axis(None, axis=1)

      0  1  2
col1  1  2  3
col2  4  5  6
col3  7  8  9